__pycache__/
.ipynb_checkpoints
.DS_Store
.virtual_documents/
data/imgs_face_clean
data/imgs_face_clean_original
data/from_kaggle.zip
data/imgs_face_original
data/for_model
data/for_model_full/
data/imgs_face_clean_original_copy/
nbs/FaceNet/for_model_full/
